h1{
  text-align: center;
  font-size: 20px ;
}

.bandeau{
  background-color: #0a5c5a; /* Couleur principale */
  color: white;
  text-align: center;
  padding: 2px 20px; /* Hauteur et espacement */
}

.header.a{
    display: flex;
    gap :30px
}

.img-container{
  justify-content: space-evenly;
  display :flex;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
  flex-wrap: wrap;
}

.img-container img{
  width: 28vw;
  max-width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}