h1{
  text-align: center;
  font-size: 20px ;
}

.bandeau{
  background-color: #0a5c5a; /* Couleur principale */
  color: white;
  text-align: center;
  padding: 2px 20px; /* Hauteur et espacement */
}

.header.a{
    display: flex;
    gap :30px
}

.img-container{
  gap: 182px;
  display : flex;
}