h1{
  text-align: center;
  font-size: 20px ;
}

body{
  background-color: black;
}

.bandeau{
  background-color: #0a5c5a; /* Couleur principale */
  color: white;
  text-align: center;
  padding: 2px 20px; /* Hauteur et espacement */
}

.header.a{
    display: flex;
    gap :30px
}

.img-container {
  justify-content: center; /* Centre le contenu horizontalement */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 120%;
  justify-items: center;
}

.img-container img {
  width: auto/3; /* Largeur fixe pour la photo */
  height: auto;
  object-fit: cover;
  border-radius: 10%;
}

@media (max-width: 900px) {
  .team {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .team {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: row;
  flex: 1 1 300px;
  align-items: flex-start; /* Aligne les éléments en haut */
  gap: 20px; /* Espace entre la photo et le texte */
  max-width: 100%; /* Pour éviter que le contenu ne dépasse */
  max-width: 350px;
}


/*.card .img{
  border-radius: 10%;
}*/


.boutonn {
    padding: 10px 20px;
    background-color: #0a5555; 
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.25s;   
}

/*@media screen and (min-width: 80rem) {
  . {
    margin: 1em 2em;
  }
}*/

footer {
    color: white;
}


p{
  font-size : 20px;
  color :white;
  flex : 1;
}