h1 {
  text-align: center;
  font-size: 20px;
}

body {
  background-color: black;
}

.bandeau {
  background-color: #0a5c5a;
  /* Couleur principale */
  color: white;
  text-align: center;
  padding: 2px 20px;
  /* Hauteur et espacement */
}

.header.a {
  display: flex;
  gap: 30px
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px;
  justify-items: center;
}

.container img {
  width: auto/3;
  /* Largeur fixe pour la photo */
  height: auto;
  object-fit: cover;
  display: flex;
  justify-content: center;
  /* Centre l’ensemble */
  gap: 80px;
  /* Espace égal entre les images */
  padding: 40px;
  border-radius: 20%;
}


@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #0f6153;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  position: static;
}


.card .img {
  width: 330px;
  border-radius: 30px;
}


.boutonn {
  padding: 10px 20px;
  background-color: #0a5555;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.25s;
}

/*@media screen and (min-width: 80rem) {
  . {
    margin: 1em 2em;
  }
}*/

footer {
  color: white;
}


p {
  font-size: 20px;
  color: white;
  flex: 1;
}